@model BookingFlightClient.Models.VnPayResponseModel
<html>
<head>
    <title>Title</title>
    <style>
        body {
            background: #f8f9fa;
            background-size: cover;
            position: relative;
            padding-top: 69px;
        }

        .confirm-section {
            background: white;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border: 2px solid #ddd;
        }


        .flight-info {
            background: #f8f9fa;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        .confirm-body {
            margin: 0 25% 0 25%;
        }

        .confirm-body {
            display: flex;
            flex-direction: column;
            justify-content: center; /* Căn giữa theo chiều dọc */
            height: 50vh; /* Đảm bảo chiều cao */
        }

    </style>
</head>
<body>
    <div class="main main-layout-sm">
        <div class="confirm-body confirm-section h-50">
            <div class="align-middle">
                <div class="text-center">
                    @if (Model != null && Model.VnPayResponseCode.Equals("00"))
                    {
                        <img src="${pageContext.request.contextPath}/images/images.png" style="width: 100px" />
                    }
                    else
                    {
                        <img src="${pageContext.request.contextPath}/images/6659895.png" style="width: 100px" />
                    }
                    <h5 style="font-size: 30px;color: red">Thông báo</h5>
                    <h5 style="font-size: 30px">
                        @if (Model != null && Model.VnPayResponseCode.Equals("00"))
                        {
                            <text>Giao dịch thành công.</text>
                        }
                        else
                        {
                            <text>Giao dịch thất bại do có lý do nguồn giao dịch.</text>
                        }
                    </h5>
                </div>
                <div class="flight-info w-50 align-items-center mx-auto">
                    <div class="d-flex justify-content-between">
                        <p class="mb-3">
                            Mã đơn hàng:<sup class="text-danger font-weight-bold">*</sup>
                        </p>
                        <p class="mb-3">@Model?.TransactionId</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="mb-3">
                            Thời gian giao dịch:<sup class="text-danger font-weight-bold">*</sup>
                        </p>
                        <p class="mb-3">@DateTime.Now</p>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary px-4 py-2 backToHome">Quay về trang chủ</button>
                    @if (Model == null || !Model.VnPayResponseCode.Equals("00"))
                    {
                        <button class="btn btn-warning px-4 py-2 me-5 re-pay">Thanh toán lại</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
                let token = localStorage.getItem('flightCheckoutToken');
        let decodedToken = token ? parseJwtToken(token) : null;
        let flightCheckoutRequestForm = JSON.parse(decodedToken.data);
             window.onload = async function () {
            let isSuccess = '@(Model != null && Model.VnPayResponseCode == "00")';

            if (isSuccess === "True") {
                const res = await fetch("http://localhost:5077/api/CheckoutFlight/saveInfo", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(flightCheckoutRequestForm)
                });

                if (res.ok) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Thành công',
                        text: 'Mã đặt vé đã gửi đến cho quý khách qua email. Cảm ơn quý khách đã sử dụng dịch vụ của chúng tôi!',
                        showConfirmButton: true
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Thất bại',
                        text: 'Có lỗi xảy ra trong khi gửi vé cho quý khách. Vui lòng liên hệ với chúng tôi!',
                        showConfirmButton: true
                    });
                }
            }
        };
    </script>
</body>
</html>
