USE [master]
GO
/****** Object:  Database [LuxuryFlightV11]    Script Date: 7/16/2025 11:33:30 PM ******/
CREATE DATABASE [LuxuryFlightV11]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LuxuryFlightV11', FILENAME = N'D:\SQLServer\Database\LuxuryFlightV11.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LuxuryFlightV11_log', FILENAME = N'D:\SQLServer\Database\LuxuryFlightV11_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LuxuryFlightV11].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LuxuryFlightV11]
GO
/****** Object:  UserDefinedFunction [dbo].[IsBetween]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[IsBetween] (
    @time TIME,
    @from TIME,
    @to   TIME
)
RETURNS BIT
AS
BEGIN
    RETURN CASE WHEN @time BETWEEN @from AND @to THEN 1 ELSE 0 END;
END
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [varchar](250) NOT NULL,
	[role_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[refresh_token] [nvarchar](250) NULL,
	[refresh_token_expiry_time] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[phone_number] [varchar](17) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[account_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Airport]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airport](
	[airport_id] [int] IDENTITY(1,1) NOT NULL,
	[airport_code] [varchar](5) NOT NULL,
	[airport_name] [nvarchar](50) NOT NULL,
	[city] [nvarchar](255) NOT NULL,
	[manager_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[airport_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AirportPrice]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AirportPrice](
	[airport_price_id] [int] IDENTITY(1,1) NOT NULL,
	[airport_from_id] [int] NOT NULL,
	[airport_to_id] [int] NOT NULL,
	[base_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[airport_price_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassSeat]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSeat](
	[class_id] [int] IDENTITY(1,1) NOT NULL,
	[class_name] [varchar](50) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaint]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaint](
	[complaint_id] [int] IDENTITY(1,1) NOT NULL,
	[status_id] [int] NOT NULL,
	[supporter_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[create_at] [datetime] NULL,
	[description] [nvarchar](255) NOT NULL,
	[file_type] [nvarchar](50) NULL,
	[file_url] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[complaint_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[phone_number] [varchar](17) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[account_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[discount_id] [int] IDENTITY(1,1) NOT NULL,
	[discount_code] [nvarchar](50) NOT NULL,
	[discount_percent] [decimal](5, 2) NOT NULL,
	[discount_title] [nvarchar](255) NOT NULL,
	[discount_infor] [nvarchar](max) NULL,
	[status] [tinyint] NULL,
	[customer_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[discount_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[rate] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[create_at] [date] NULL,
	[account_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flight]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight](
	[flight_id] [int] IDENTITY(1,1) NOT NULL,
	[flight_code] [varchar](50) NOT NULL,
	[tax] [decimal](4, 2) NOT NULL,
	[status_id] [int] NOT NULL,
	[departure_time] [datetime] NOT NULL,
	[arrival_time] [datetime] NOT NULL,
	[plane_id] [int] NOT NULL,
	[manager_id] [int] NOT NULL,
	[customer_id] [int] NULL,
	[departure_airport_id] [int] NOT NULL,
	[arrival_airport_id] [int] NOT NULL,
 CONSTRAINT [PK__Flight__E3705765B435071C] PRIMARY KEY CLUSTERED 
(
	[flight_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flight_Seat]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight_Seat](
	[flight_id] [int] NOT NULL,
	[seat_id] [int] NOT NULL,
	[isSat] [bit] NULL,
	[ticket_id] [int] NULL,
 CONSTRAINT [PK_Flight_Seat] PRIMARY KEY CLUSTERED 
(
	[flight_id] ASC,
	[seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlightService]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlightService](
	[flight_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[flight_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[item_name] [nvarchar](50) NOT NULL,
	[detail] [nvarchar](100) NULL,
	[price] [int] NOT NULL,
	[status_id] [int] NULL,
	[image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[manager_id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[phone_number] [varchar](17) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[account_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[manager_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[new_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[image] [nvarchar](255) NULL,
	[content] [nvarchar](max) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
	[author] [nvarchar](50) NOT NULL,
	[account_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[new_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](255) NOT NULL,
	[create_at] [datetime] NULL,
	[status_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[price] [int] NOT NULL,
	[payment_method] [varchar](50) NOT NULL,
	[ticket_id] [int] NOT NULL,
	[payment_date] [date] NOT NULL,
	[status_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plane]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plane](
	[plane_id] [int] IDENTITY(1,1) NOT NULL,
	[plane_code] [varchar](50) NOT NULL,
	[model] [varchar](50) NOT NULL,
	[status_id] [int] NOT NULL,
	[manufacture] [varchar](100) NOT NULL,
	[year_of_manufacture] [int] NOT NULL,
	[manager_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[plane_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[seat_id] [int] IDENTITY(1,1) NOT NULL,
	[seat_number] [nvarchar](10) NOT NULL,
	[class_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[plane_id] [int] NULL,
 CONSTRAINT [PK__Seat__906DED9C118FEE73] PRIMARY KEY CLUSTERED 
(
	[seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[service_id] [int] IDENTITY(1,1) NOT NULL,
	[service_name] [nvarchar](50) NOT NULL,
	[detail] [nvarchar](100) NULL,
	[manager_id] [int] NOT NULL,
	[status_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Item]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Item](
	[service_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC,
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](50) NOT NULL,
	[status_type] [char](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supporter]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supporter](
	[supporter_id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[phone_number] [varchar](17) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[account_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[supporter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_number] [nvarchar](20) NOT NULL,
	[flight_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[booking_date] [date] NOT NULL,
	[customer_id] [int] NULL,
	[total_price] [decimal](18, 0) NOT NULL,
	[gender] [nvarchar](10) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[class_seat_id] [int] NOT NULL,
	[contact_full_name] [nvarchar](100) NULL,
	[contact_phone] [nvarchar](10) NULL,
	[contact_email] [nvarchar](100) NULL,
	[contact_address] [nvarchar](255) NULL,
 CONSTRAINT [PK__Ticket__D596F96BCC0A6FCE] PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket_Item]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket_Item](
	[ticket_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_Ticket_Item] PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC,
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Logs]    Script Date: 7/16/2025 11:33:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[detail] [nvarchar](50) NULL,
	[access_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([account_id], [username], [password], [role_id], [status_id], [refresh_token], [refresh_token_expiry_time]) VALUES (1, N'ad', N'123', 1, 1, N'009b4c0b-cf0c-4932-be1d-77b16f6d5155', CAST(N'2025-07-14T11:09:34.3776653' AS DateTime2))
INSERT [dbo].[Account] ([account_id], [username], [password], [role_id], [status_id], [refresh_token], [refresh_token_expiry_time]) VALUES (2, N'sp', N'123', 2, 1, NULL, NULL)
INSERT [dbo].[Account] ([account_id], [username], [password], [role_id], [status_id], [refresh_token], [refresh_token_expiry_time]) VALUES (3, N'cs', N'123', 3, 1, N'3704a8db-e7f2-42a0-8ace-e5f3b5eb078a', CAST(N'2025-07-15T21:31:30.5011846' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([admin_id], [fullname], [address], [phone_number], [email], [account_id]) VALUES (1, N'Đào Thanh Nhất', N'Đầu đường xó chợ', N'0901234567', N'minhdao3444@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Airport] ON 

INSERT [dbo].[Airport] ([airport_id], [airport_code], [airport_name], [city], [manager_id]) VALUES (1, N'HAN', N'Noi Bai International Airport', N'Hanoi', 1)
INSERT [dbo].[Airport] ([airport_id], [airport_code], [airport_name], [city], [manager_id]) VALUES (2, N'SGN', N'Tan Son Nhat International Airport', N'Ho Chi Minh City', 1)
INSERT [dbo].[Airport] ([airport_id], [airport_code], [airport_name], [city], [manager_id]) VALUES (3, N'DNG', N'Da Nang International Airport', N'Da Nang', 1)
SET IDENTITY_INSERT [dbo].[Airport] OFF
GO
SET IDENTITY_INSERT [dbo].[AirportPrice] ON 

INSERT [dbo].[AirportPrice] ([airport_price_id], [airport_from_id], [airport_to_id], [base_price]) VALUES (1, 1, 3, CAST(2000000.00 AS Decimal(10, 2)))
INSERT [dbo].[AirportPrice] ([airport_price_id], [airport_from_id], [airport_to_id], [base_price]) VALUES (2, 3, 1, CAST(2000000.00 AS Decimal(10, 2)))
INSERT [dbo].[AirportPrice] ([airport_price_id], [airport_from_id], [airport_to_id], [base_price]) VALUES (3, 1, 2, CAST(1500000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[AirportPrice] OFF
GO
SET IDENTITY_INSERT [dbo].[ClassSeat] ON 

INSERT [dbo].[ClassSeat] ([class_id], [class_name], [price], [description]) VALUES (1, N'SkyElite', CAST(500000.00 AS Decimal(10, 2)), N'Highest level of luxury with top-tier amenities.')
INSERT [dbo].[ClassSeat] ([class_id], [class_name], [price], [description]) VALUES (2, N'SkyPrime', CAST(300000.00 AS Decimal(10, 2)), N'Premium class with superior comfort and service.')
INSERT [dbo].[ClassSeat] ([class_id], [class_name], [price], [description]) VALUES (3, N'Economy', CAST(100000.00 AS Decimal(10, 2)), N'Affordable and standard travel class.')
SET IDENTITY_INSERT [dbo].[ClassSeat] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customer_id], [fullname], [address], [phone_number], [email], [account_id]) VALUES (1, N'Đức Thịnh', N'Góc Nhỏ Cuối Phố', N'0923456789', N'cs@example.com', 3)
INSERT [dbo].[Customer] ([customer_id], [fullname], [address], [phone_number], [email], [account_id]) VALUES (2, N'Đức Trần', N'Góc Nhỏ Cuối Phố', N'0923456789', N'cs@example.com', 10)
INSERT [dbo].[Customer] ([customer_id], [fullname], [address], [phone_number], [email], [account_id]) VALUES (3, N'Thịnh Nguyễn', N'Góc Nhỏ Cuối Phố', N'0923456789', N'cs@example.com', 11)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([discount_id], [discount_code], [discount_percent], [discount_title], [discount_infor], [status], [customer_id]) VALUES (1, N'SUMMER2025', CAST(0.15 AS Decimal(5, 2)), N'Giảm giá mùa hè', N'Áp dụng cho tất cả đơn hàng trên 500k.', 1, 1)
INSERT [dbo].[Discount] ([discount_id], [discount_code], [discount_percent], [discount_title], [discount_infor], [status], [customer_id]) VALUES (2, N'NEWYEAR2025', CAST(0.20 AS Decimal(5, 2)), N'Giảm giá năm mới', N'Áp dụng cho thành viên VIP.', 1, 1)
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([feedback_id], [title], [rate], [content], [create_at], [account_id]) VALUES (1, N'Nice trip', 5, N'Chuyến bay rẻ và tiện lợi kk', CAST(N'2025-04-13' AS Date), 3)
INSERT [dbo].[Feedback] ([feedback_id], [title], [rate], [content], [create_at], [account_id]) VALUES (2, N'Good trip', 4, N'Chuyến bay rẻ', CAST(N'2025-02-27' AS Date), 10)
INSERT [dbo].[Feedback] ([feedback_id], [title], [rate], [content], [create_at], [account_id]) VALUES (3, N'Convenient trip', 5, N'Chuyến bay tiện lợi', CAST(N'2025-02-28' AS Date), 11)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Flight] ON 

INSERT [dbo].[Flight] ([flight_id], [flight_code], [tax], [status_id], [departure_time], [arrival_time], [plane_id], [manager_id], [customer_id], [departure_airport_id], [arrival_airport_id]) VALUES (1, N'1000845601', CAST(0.10 AS Decimal(4, 2)), 1, CAST(N'2025-03-09T07:30:00.000' AS DateTime), CAST(N'2025-03-09T09:30:00.000' AS DateTime), 1, 1, 1, 1, 2)
INSERT [dbo].[Flight] ([flight_id], [flight_code], [tax], [status_id], [departure_time], [arrival_time], [plane_id], [manager_id], [customer_id], [departure_airport_id], [arrival_airport_id]) VALUES (2, N'1000845602', CAST(0.10 AS Decimal(4, 2)), 1, CAST(N'2025-03-10T13:00:00.000' AS DateTime), CAST(N'2025-03-10T15:00:00.000' AS DateTime), 1, 1, 1, 1, 2)
INSERT [dbo].[Flight] ([flight_id], [flight_code], [tax], [status_id], [departure_time], [arrival_time], [plane_id], [manager_id], [customer_id], [departure_airport_id], [arrival_airport_id]) VALUES (3, N'1000845603', CAST(0.10 AS Decimal(4, 2)), 1, CAST(N'2025-03-11T09:30:00.000' AS DateTime), CAST(N'2025-03-11T11:30:00.000' AS DateTime), 1, 1, 1, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Flight] OFF
GO
INSERT [dbo].[Flight_Seat] ([flight_id], [seat_id], [isSat], [ticket_id]) VALUES (1, 1, 0, NULL)
INSERT [dbo].[Flight_Seat] ([flight_id], [seat_id], [isSat], [ticket_id]) VALUES (2, 2, 0, NULL)
INSERT [dbo].[Flight_Seat] ([flight_id], [seat_id], [isSat], [ticket_id]) VALUES (3, 3, 0, NULL)
GO
INSERT [dbo].[FlightService] ([flight_id], [service_id]) VALUES (1, 1)
INSERT [dbo].[FlightService] ([flight_id], [service_id]) VALUES (1, 2)
INSERT [dbo].[FlightService] ([flight_id], [service_id]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([item_id], [item_name], [detail], [price], [status_id], [image]) VALUES (1, N'Set cơm Nhật', N'Bữa ăn Nhật Bản với sushi, sashimi, tempura', 200000, 1, N'anh-bien.jpg')
INSERT [dbo].[Items] ([item_id], [item_name], [detail], [price], [status_id], [image]) VALUES (2, N'Set cơm Âu', N'Bữa ăn kiểu Âu gồm beefsteak, rượu vang, tráng miệng', 300000, 1, N'anh-bien.jpg')
INSERT [dbo].[Items] ([item_id], [item_name], [detail], [price], [status_id], [image]) VALUES (3, N'Hành lý 10kg', N'Tăng thêm 10kg hành lý ký gửi', 200000, 1, N'anh-bien.jpg')
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Manager] ON 

INSERT [dbo].[Manager] ([manager_id], [fullname], [address], [phone_number], [email], [account_id]) VALUES (1, N'Pham Thi D', N'101 Broad St', N'0934567890', N'manager1@example.com', 4)
SET IDENTITY_INSERT [dbo].[Manager] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([new_id], [title], [image], [content], [category], [author], [account_id]) VALUES (3, N'Thông báo nâng cấp hệ thống tháng 3/2025', N'maintain.jpg', N'Hệ thống sẽ được nâng cấp vào ngày 15/3/2025. Chi tiết thời gian và ảnh hưởng sẽ được đề cập sau. Quý khách vui lòng sắp xếp lịch di chuyển tránh thời gian nâng cấp hệ thống để tránh những rủi ro không đáng có. Trân trọng cảm ơn!', N'Notice', N'LuxuryFlight Staff', 6)
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Plane] ON 

INSERT [dbo].[Plane] ([plane_id], [plane_code], [model], [status_id], [manufacture], [year_of_manufacture], [manager_id]) VALUES (1, N'VN123', N'Boeing 747 - 27/03/1977', 1, N'Boeing', 2018, 1)
INSERT [dbo].[Plane] ([plane_id], [plane_code], [model], [status_id], [manufacture], [year_of_manufacture], [manager_id]) VALUES (2, N'VN456', N'Boeing 747 - 01/08/1990', 1, N'Boeing', 2017, 1)
INSERT [dbo].[Plane] ([plane_id], [plane_code], [model], [status_id], [manufacture], [year_of_manufacture], [manager_id]) VALUES (3, N'VN789', N'Airbus A32 - 15/05/2005', 1, N'Airbus', 2016, 1)
SET IDENTITY_INSERT [dbo].[Plane] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'Supporter')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([seat_id], [seat_number], [class_id], [status_id], [plane_id]) VALUES (1, N'SE1', 1, 1, 1)
INSERT [dbo].[Seat] ([seat_id], [seat_number], [class_id], [status_id], [plane_id]) VALUES (2, N'SE2', 1, 1, 1)
INSERT [dbo].[Seat] ([seat_id], [seat_number], [class_id], [status_id], [plane_id]) VALUES (3, N'SE3', 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([service_id], [service_name], [detail], [manager_id], [status_id]) VALUES (1, N'Đặt đồ ăn', N'Bữa ăn cao cấp với các món đặc sắc', 1, 1)
INSERT [dbo].[Service] ([service_id], [service_name], [detail], [manager_id], [status_id]) VALUES (2, N'Hành lý thêm', N'Ký gửi hành lý', 1, 1)
INSERT [dbo].[Service] ([service_id], [service_name], [detail], [manager_id], [status_id]) VALUES (3, N'Đưa đón sân bay', N'Dịch vụ xe du lịch đưa đón tận nơi', 1, 1)
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
INSERT [dbo].[Service_Item] ([service_id], [item_id]) VALUES (1, 1)
INSERT [dbo].[Service_Item] ([service_id], [item_id]) VALUES (1, 2)
INSERT [dbo].[Service_Item] ([service_id], [item_id]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([status_id], [status_name], [status_type]) VALUES (1, N'Active', N'1                                                 ')
INSERT [dbo].[Status] ([status_id], [status_name], [status_type]) VALUES (2, N'Inactive', N'2                                                 ')
GO
INSERT [dbo].[Status] ([status_id], [status_name], [status_type]) VALUES (3, N'Pending', N'2                                                 ')
GO
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Supporter] ON 

INSERT [dbo].[Supporter] ([supporter_id], [fullname], [address], [phone_number], [email], [account_id]) VALUES (1, N'Le Thi B', N'456 Side St', N'0912345678', N'supporter1@example.com', 2)
SET IDENTITY_INSERT [dbo].[Supporter] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([ticket_id], [ticket_number], [flight_id], [status_id], [booking_date], [customer_id], [total_price], [gender], [name], [date_of_birth], [full_name], [class_seat_id], [contact_full_name], [contact_phone], [contact_email], [contact_address]) VALUES (2, N'120102120', 108, 1, CAST(N'2024-09-11' AS Date), NULL, CAST(12000 AS Decimal(18, 0)), N'male', N'djs', CAST(N'2024-08-07' AS Date), N'Vy', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Ticket] ([ticket_id], [ticket_number], [flight_id], [status_id], [booking_date], [customer_id], [total_price], [gender], [name], [date_of_birth], [full_name], [class_seat_id], [contact_full_name], [contact_phone], [contact_email], [contact_address]) VALUES (4, N'37723549', 109, 1, CAST(N'2025-03-21' AS Date), NULL, CAST(2150000 AS Decimal(18, 0)), N'male', N'Vu', CAST(N'2025-03-07' AS Date), N'Vien', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Ticket] ([ticket_id], [ticket_number], [flight_id], [status_id], [booking_date], [customer_id], [total_price], [gender], [name], [date_of_birth], [full_name], [class_seat_id], [contact_full_name], [contact_phone], [contact_email], [contact_address]) VALUES (5, N'13882868', 13, 1, CAST(N'2025-03-21' AS Date), NULL, CAST(2150000 AS Decimal(18, 0)), N'male', N'sdsdsd', CAST(N'2025-03-15' AS Date), N'Vưeuwe', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
INSERT [dbo].[Ticket_Item] ([ticket_id], [item_id], [quantity]) VALUES (48, 1, 2)
INSERT [dbo].[Ticket_Item] ([ticket_id], [item_id], [quantity]) VALUES (48, 2, 2)
GO
/****** Object:  Index [UQ__Admin__46A222CC12A283A6]    Script Date: 7/16/2025 11:33:30 PM ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Customer__46A222CC5A9E3C48]    Script Date: 7/16/2025 11:33:30 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Discount__75C1F0060ACA8870]    Script Date: 7/16/2025 11:33:30 PM ******/
ALTER TABLE [dbo].[Discount] ADD UNIQUE NONCLUSTERED 
(
	[discount_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Manager__46A222CCC5AC0D3A]    Script Date: 7/16/2025 11:33:30 PM ******/
ALTER TABLE [dbo].[Manager] ADD UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Supporte__46A222CCDE9423FB]    Script Date: 7/16/2025 11:33:30 PM ******/
ALTER TABLE [dbo].[Supporter] ADD UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ticket__413613D2A41FFAC9]    Script Date: 7/16/2025 11:33:30 PM ******/
ALTER TABLE [dbo].[Ticket] ADD  CONSTRAINT [UQ__Ticket__413613D2A41FFAC9] UNIQUE NONCLUSTERED 
(
	[ticket_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Complaint] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Discount] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ('anh-bien.jpg') FOR [image]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[Status] ([status_id])
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Airport]  WITH CHECK ADD FOREIGN KEY([manager_id])
REFERENCES [dbo].[Manager] ([manager_id])
GO
ALTER TABLE [dbo].[AirportPrice]  WITH CHECK ADD FOREIGN KEY([airport_from_id])
REFERENCES [dbo].[Airport] ([airport_id])
GO
ALTER TABLE [dbo].[AirportPrice]  WITH CHECK ADD FOREIGN KEY([airport_to_id])
REFERENCES [dbo].[Airport] ([airport_id])
GO
ALTER TABLE [dbo].[Complaint]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Complaint]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[Status] ([status_id])
GO
ALTER TABLE [dbo].[Complaint]  WITH CHECK ADD FOREIGN KEY([supporter_id])
REFERENCES [dbo].[Supporter] ([supporter_id])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FK__Flight__arrival___123EB7A3] FOREIGN KEY([arrival_airport_id])
REFERENCES [dbo].[Airport] ([airport_id])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FK__Flight__arrival___123EB7A3]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FK__Flight__customer__1332DBDC] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FK__Flight__customer__1332DBDC]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FK__Flight__departur__14270015] FOREIGN KEY([departure_airport_id])
REFERENCES [dbo].[Airport] ([airport_id])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FK__Flight__departur__14270015]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FK__Flight__manager___151B244E] FOREIGN KEY([manager_id])
REFERENCES [dbo].[Manager] ([manager_id])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FK__Flight__manager___151B244E]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FK__Flight__plane_id__160F4887] FOREIGN KEY([plane_id])
REFERENCES [dbo].[Plane] ([plane_id])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FK__Flight__plane_id__160F4887]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FK__Flight__status_i__17036CC0] FOREIGN KEY([status_id])
REFERENCES [dbo].[Status] ([status_id])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FK__Flight__status_i__17036CC0]
GO
ALTER TABLE [dbo].[Flight_Seat]  WITH CHECK ADD  CONSTRAINT [FK_Flight_Seat_Flight] FOREIGN KEY([flight_id])
REFERENCES [dbo].[Flight] ([flight_id])
GO
ALTER TABLE [dbo].[Flight_Seat] CHECK CONSTRAINT [FK_Flight_Seat_Flight]
GO
ALTER TABLE [dbo].[Flight_Seat]  WITH CHECK ADD  CONSTRAINT [FK_Flight_Seat_Seat] FOREIGN KEY([seat_id])
REFERENCES [dbo].[Seat] ([seat_id])
GO
ALTER TABLE [dbo].[Flight_Seat] CHECK CONSTRAINT [FK_Flight_Seat_Seat]
GO
ALTER TABLE [dbo].[Flight_Seat]  WITH CHECK ADD  CONSTRAINT [FK_Flight_Seat_Ticket] FOREIGN KEY([ticket_id])
REFERENCES [dbo].[Ticket] ([ticket_id])
GO
ALTER TABLE [dbo].[Flight_Seat] CHECK CONSTRAINT [FK_Flight_Seat_Ticket]
GO
ALTER TABLE [dbo].[FlightService]  WITH CHECK ADD  CONSTRAINT [FK__FlightSer__fligh__1AD3FDA4] FOREIGN KEY([flight_id])
REFERENCES [dbo].[Flight] ([flight_id])
GO
ALTER TABLE [dbo].[FlightService] CHECK CONSTRAINT [FK__FlightSer__fligh__1AD3FDA4]
GO
ALTER TABLE [dbo].[FlightService]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[Service] ([service_id])
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Status] FOREIGN KEY([status_id])
REFERENCES [dbo].[Status] ([status_id])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Status]
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[Status] ([status_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[Status] ([status_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK__Payment__ticket___1EA48E88] FOREIGN KEY([ticket_id])
REFERENCES [dbo].[Ticket] ([ticket_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK__Payment__ticket___1EA48E88]
GO
ALTER TABLE [dbo].[Plane]  WITH CHECK ADD FOREIGN KEY([manager_id])
REFERENCES [dbo].[Manager] ([manager_id])
GO
ALTER TABLE [dbo].[Plane]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[Status] ([status_id])
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK__Seat__class_id__2180FB33] FOREIGN KEY([class_id])
REFERENCES [dbo].[ClassSeat] ([class_id])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK__Seat__class_id__2180FB33]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK__Seat__status_id__22751F6C] FOREIGN KEY([status_id])
REFERENCES [dbo].[Status] ([status_id])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK__Seat__status_id__22751F6C]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_Plane] FOREIGN KEY([plane_id])
REFERENCES [dbo].[Plane] ([plane_id])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_Plane]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD FOREIGN KEY([manager_id])
REFERENCES [dbo].[Manager] ([manager_id])
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_Status] FOREIGN KEY([status_id])
REFERENCES [dbo].[Status] ([status_id])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_Status]
GO
ALTER TABLE [dbo].[Service_Item]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[Items] ([item_id])
GO
ALTER TABLE [dbo].[Service_Item]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[Service] ([service_id])
GO
ALTER TABLE [dbo].[Supporter]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK__Ticket__customer__2B0A656D] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK__Ticket__customer__2B0A656D]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK__Ticket__flight_i__2BFE89A6] FOREIGN KEY([flight_id])
REFERENCES [dbo].[Flight] ([flight_id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK__Ticket__flight_i__2BFE89A6]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK__Ticket__status_i__2CF2ADDF] FOREIGN KEY([status_id])
REFERENCES [dbo].[Status] ([status_id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK__Ticket__status_i__2CF2ADDF]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_ClassSeat] FOREIGN KEY([class_seat_id])
REFERENCES [dbo].[ClassSeat] ([class_id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_ClassSeat]
GO
ALTER TABLE [dbo].[Ticket_Item]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Item_Items] FOREIGN KEY([item_id])
REFERENCES [dbo].[Items] ([item_id])
GO
ALTER TABLE [dbo].[Ticket_Item] CHECK CONSTRAINT [FK_Ticket_Item_Items]
GO
ALTER TABLE [dbo].[Ticket_Item]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Item_Ticket] FOREIGN KEY([ticket_id])
REFERENCES [dbo].[Ticket] ([ticket_id])
GO
ALTER TABLE [dbo].[Ticket_Item] CHECK CONSTRAINT [FK_Ticket_Item_Ticket]
GO
ALTER TABLE [dbo].[User_Logs]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO

/****** Object:  Table [dbo].[ChatMessage]    Script Date: 7/24/2025 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessage](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[supporter_id] [int] NULL,
	[sender_type] [varchar](20) NOT NULL, -- 'customer' or 'supporter'
	[message_content] [nvarchar](max) NOT NULL,
	[sent_at] [datetime] NOT NULL DEFAULT GETDATE(),
	[is_read] [bit] NOT NULL DEFAULT 0,
	[is_deleted] [bit] NOT NULL DEFAULT 0,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

-- Add Foreign Key Constraints
ALTER TABLE [dbo].[ChatMessage]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO

ALTER TABLE [dbo].[ChatMessage]  WITH CHECK ADD FOREIGN KEY([supporter_id])
REFERENCES [dbo].[Supporter] ([supporter_id])
GO

-- Create indexes for better performance
CREATE INDEX IX_ChatMessage_Customer ON [dbo].[ChatMessage] ([customer_id])
GO
CREATE INDEX IX_ChatMessage_Supporter ON [dbo].[ChatMessage] ([supporter_id])
GO
CREATE INDEX IX_ChatMessage_SentAt ON [dbo].[ChatMessage] ([sent_at])
GO

-- Insert sample data for testing
SET IDENTITY_INSERT [dbo].[ChatMessage] ON 
GO
INSERT [dbo].[ChatMessage] ([message_id], [customer_id], [supporter_id], [sender_type], [message_content], [sent_at], [is_read]) 
VALUES (1, 1, 1, 'customer', N'Xin chào, tôi cần hỗ trợ đặt vé máy bay', GETDATE(), 0)
GO
INSERT [dbo].[ChatMessage] ([message_id], [customer_id], [supporter_id], [sender_type], [message_content], [sent_at], [is_read]) 
VALUES (2, 1, 1, 'supporter', N'Xin chào! Tôi sẽ hỗ trợ bạn. Bạn cần đặt vé từ đâu đến đâu ạ?', GETDATE(), 1)
GO
SET IDENTITY_INSERT [dbo].[ChatMessage] OFF
GO

USE [master]
GO
